<head>
  <title>Spoty</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/css/client.css">
  <script src="/js/index.js"></script>
</head>

<body>

  <div class="container">
    <div class="card card-container">
      <div id="notoken" style="display:none">
        <h4>Ez zaude autentifikatuta:</h4>
        <a href={{link}}> Klikatu hemen </a>
      </div>
      <div id="token" style="display:none">
        <h4> Autentifikatuta zaude </h4>
      </div>
    </div><!-- /card-container -->
  </div><!-- /container -->

  <script src="/lib/bootstrap/js/bootstrap.js"></script>
</body>
