<head>
  <title>Spoty</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/css/client.css">
  <script src="/js/index.js"></script>
</head>

<body>

  <div class="container">
    <div id="notoken" style="display:none">
      <div class="jumbotron">
        <h3>Jarraitzeko logeatu mesedez:</h3>
        <p><a class="btn btn-primary btn-lg" href="{{link}}" role="button">Klikatu Hemen</a></p>
      </div>
    </div>


    <div id="yestoken" style="display:none">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4> Aukeratu playlistak: </h4>
          <div id="playlistSel"></div>
          <button class="btn btn-info" onclick="sendPlaylist()">Ados!</button>
        </div>
      </div>
    </div>
  </div><!-- /container -->

  <script src="/lib/bootstrap/js/bootstrap.js"></script>
</body>
